<passwordPolicy>
  <id>43461c02:1a02f3c69d6:-7ff5</id>
  <name>default</name>
  <className>org.geoserver.security.validation.PasswordValidatorImpl</className>
  <uppercaseRequired>false</uppercaseRequired>
  <lowercaseRequired>false</lowercaseRequired>
  <digitRequired>false</digitRequired>
  <minLength>0</minLength>
  <maxLength>-1</maxLength>
</passwordPolicy>